@font-face {
    font-family: "summer";
    src: url('../fonts/OILA-font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "summer", sans-serif;
    overflow: auto;
}

.background-yellow {
    background-color:#f9c448;
    width: 100%;
    height: 625px;
    z-index: -1;
}

.background-purple {
    background-color:#420e59e8;
    width: 100%;
    height: auto;
    z-index: -1;
}

.background-white {
    background-color: #f8f7f3;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* Navivigation bar */

#logo {
    float: left;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

#menu {
    background-color: #f9c448;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    background-position: center;
}
#menu li {
    float: right;
    font-size: 160%;
    font-weight: 500;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    font-size: 260%;
    color: #f8f7f3;
}

a {
    text-decoration: none;
    color: #f8f7f3;
}

a:hover {
    color: #420E59E8;
}

/* First section (landing page) */


#hero-image {
    height: 480px; 
    width: auto; 
    position: relative;
    top: 75px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#app-description {
    font-size: 250%;
    position: relative;
    top: 13%;
    text-align: center;
}

/* 2nd section about reasons to download */

#description{
    height: 600px;
}

#description h2,h1,p {
    color: #f8f7f3;
}

#description h2,h1 {
    font-size: 280%;
}

#description p {
    font-size: 210%;
    letter-spacing: 2px;
}

#left-about {
    width: 33%;
    float: left;
    position: relative;
    bottom: 35px;
}

#right-about {
    width: 33%;
    float: right;
    position: relative;
    bottom: 35px;
}

#center-about {
    width: 29%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

hr {
    border-top: 1px solid #f8f7f3;
    width: 100%;
    margin: 17px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 28px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 28px;
    clear: both;
    margin-bottom: 50px;
}

.section-title {
    text-align: center;
    font-size: 280%;
    position: relative;
    top: 30px;
    color: #f8f7f3;
}

/* 3rd section containing promo video */

#promo-vid {
    position: relative;
    bottom: 15%;
    padding-bottom: 40px;
    text-align: center;
}

/* 4th section about testimonials */

.row {
    display: flex;
}

.row img {
    width: 300px;
}

.row > * {
    box-sizing: border-box;
    margin: 50px 2% 0 6%;
}

.column {
    flex: 33.33%;
    padding: 5px;
  }

#test-1 {
    height: auto;
}

#test-3 {
    position: relative;
    bottom: 15px;
}

/* 5th section about pricing and download */

.box-background {
    background-color: #f8f7f3;
    width: 250px;
    height: 350px;
    border-radius: 8px;
}

#left-box {
    float: left;
    margin-left: 10%;
}

#right-box {
    float: right;
    margin-right: 10%;
}

.box-background > * {
    color: #420E59E8;
    margin: 8px;
    padding: 8px;
    list-style: none;
    line-height: 55px;
}

.box-background h3 {
    font-size: 200%;
}

h3 i {
    font-size: 60%;
    vertical-align: top;
}

.price {
    font-size: 260%;
    font-weight: 800;
}

.box-background ul {
    font-size: 160%;
}

.box-background > ul i {
    font-size: 70%;
}

#free-trial {
    font-size: 250%;
    clear: both;
    text-align: center;
}

#option {
    text-align: center;
    font-size: 290%;
    opacity: 75%;
    color: #f8f7f3;
    padding: 10% 0;
}

/* section containing download buttons */

#background-blue {
    background: #8DAAE4;
    width: 100%;
    height: auto;
}

#down-statment {
    position: relative;
    top: 40px;
    font-size: 260%;
    margin-left: 30px;
}

#background-blue a img:hover {
    border: 3px solid #f8f7f3;
}

#apple-button {
    position: relative;
    margin-left: 45%;
    bottom: 15px;
}

#google-button {
    margin-left: 10%;
    position: relative;
    bottom: 15px;
}

/* about us section */

#about-us-section {
    background-color: #f8f7f3;
    width: 100%;
    height: 1200px;
    z-index: -1;    
}

#hub-logo {
    text-align: center;
}

#hub-logo img {
    width: 210px;
    height: 110px;
}

#astana-present-vid {
    position: relative;
    text-align: center;
    margin-top: 70px;
}

#about-us-desc p {
    color: black;
    position: relative;
    margin-left: 40%;
    bottom: 200px;
    width: 50%;
    height: 50px;
    font-size: 200%;
}

#circle-container {
    width: 210px;
    height: 210px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 30px 0 200px;
    position: relative;
    top: 50px;
}

#circle-img {
    background: url(../images/LanaPhotoPng-150x150.png) no-repeat center center;
    background-size: 100%;
    height: 100%;
    border-radius: 50%;
}

#astana-hub {
    text-align: center;
    color: black;
    font-size: 200%;
    margin-top: 20px;
}

/* social media icons */

.social-networks {
    text-align: center;
    font-size: 120%;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

#facebook {
    color: #4867aa;
}

#instagram {
    color: #d00e9a;
}

#youtube {
    color: red;
}

#tiktok {
    color: black;
}

/* contact us and legal terms section */

#footer-background {
     background-color: #f9c448;
     width: 100%;
     height: auto;
}

#contact-us {
    font-size: 210%;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #f8f7f3;
    position: relative;
    top: 40px;
}

#info {
    position: relative;
    top: 40px;
    margin-left: 40px;
    line-height: 40px;
}

#info p {
    font-size: 150%;
}

#terms {
    text-align: center;
    position: relative;
    bottom: 90px;
    color: #f8f7f3;
    font-size: 280%;
    margin: 0;
}

#privacy {
    text-align: center;
    position: relative;
    bottom: 140px;
    color: #f8f7f3;
    font-size: 280%;
    margin-left: 60%;
}

#privacy:hover {
    color: #420E59E8;
}

#terms:hover {
    color: #420E59E8;
}

/* privacy policy page */

#privacy-header {
    text-align: center;
    font-size: 350%;
    color: black;
    margin-right: 70px;
}

#privacy-background {
    background-color: #f8f7f3;
    height: fit-content;
}

#privacy-background p {
    color: black;
    font-size: 280%;
    margin: 0 80px 80px 80px;
    position: relative;
    top: 80px;
}

/* eula terms page */

#eula-term-background {
    background-color: #f8f7f3;
    height: fit-content;
}

#eula-term-background p {
    color: black;
    font-size: 250%;
    margin: 0 80px 80px 80px;
    position: relative;
    top: 80px;
}

#eula-term-header {
    text-align: center;
    font-size: 350%;
    color: black;
    margin-right: 70px;
}

/* responsive page for screens 2000px and under */

@media screen and (max-width:1200px) {

    #menu li {
        font-size: 180%;
    }

    #center-about img {
        width: 100%;
    }

    #center-about {
        top: 140px;
    }

    #promo-vid iframe {
        width: 60%;
    }

    .row img {
        width: 80%;
    }

    .row > * {
        margin-top: 100px;
    }

    #option {
        padding: 15% 0;
    }

    #down-statment {
        font-size: 220%;
        top: 30px;
    }

    #apple-button {
        width: 20%;
        height: auto;
    }

    #google-button {
        width: 20%;
        height: auto;
    }

    #circle-container {
        width: 150px;
        height: 150px;
        margin-left: 130px;
    }

    #about-us-desc p {
        font-size: 190%;
    }

    #footer-background {
        height: auto;
    }
}

@media screen and (max-width:850px) {

    #menu li {
        font-size: 130%;
    }

    #hero-image {
        height: 380px; 
        width: auto;
    }

    #app-description {
        font-size: 220%;
        top: 17%;
    }

    #left-about {
        width: 100%;
        float: left;
        padding-top: 200px;
    }

    #right-about {
        width: 100%;
        float: left;
    }

    #center-about {
        clear: both;
        top: 100px;
        margin-right: 48%;
    }

    #center-about img {
        height: 50%;
        width: auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    .row img {
        width: 90%;
    }

    .row > * {
        margin-left: 4%;
    }

    .box-background > * {
        line-height: 32px;
    }

    .box-background {
        width: 180px;
        height: 270px;
    }

    .box-background h3 {
        font-size: 160%;
    }
    
    h3 i {
        font-size: 10%;
    }
    
    .price {
        font-size: 160%;
    }
    
    .box-background ul {
        font-size: 140%;
    }
    
    .box-background > ul i {
        font-size: 20%;
    }

    #free-trial {
        font-size: 200%;
    }

    #down-statment {
        font-size: 170%;
        top: 20px;
    }

    #circle-container {
        width: 120px;
        height: 120px;
        margin-left: 100px;
    }

    #about-us-desc p {
        font-size: 160%;
        bottom: 170px;
    }

    #astana-present iframe {
        width: 450px;
        height: 350px;
    }

    .social-networks i {
        font-size: 200%;
    }

    #info p {
        font-size: 100%;
    }

    #terms {
        font-size: 200%;
    }

    #privacy {
        font-size: 200%;
        bottom: 130px;
    }

    #footer-background {
        height: auto;
    }
}

@media screen and (max-width:550px) {

    .background-yellow {
        height: auto;
    }

    #menu li {
        font-size: 60%;
    }

    #hero-image {
        height: 260px; 
        width: auto;
        top: 0;
        padding-top: 90px;
    }

    #app-description {
        font-size: 180%;
    }

    .section-title {
        font-size: 180%;
        top: 10px;
    }

    #center-about img {
        height: auto;
        width: 190%;
    }

    #promo-vid iframe {
        width: 70%;
        height: 300px;
    }

    .row img {
        width: 100%;
    }

    .row > * {
        margin-top: 40px;
        margin-left: 1%;
    }
    #test-3 {
        bottom: 5px;
    }

    .box-background {
        width: 130px;
        height: 220px;
    }

    #left-box {
        margin-left: 4%;
    }
    
    #right-box {
        margin-right: 4%;
    }

    .box-background > * {
        line-height: 25px;
    }

    .box-background h3 {
        font-size: 110%;
    }
    
    h3 i {
        font-size: 20%;
    }
    
    .price {
        font-size: 120%;
    }
    
    .box-background ul {
        font-size: 100%;
    }
    
    .box-background > ul i {
        font-size: 20%;
    }

    #free-trial {
        font-size: 120%;
    }

    #down-statment {
        font-size: 100%;
        margin-left: 10px;
        top: 15px;
    }

    #apple-button {
        bottom: 7px;
    }

    #google-button {
        bottom: 7px;
    }

    #circle-container {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    #about-us-desc p {
        font-size: 100%;
        bottom: 110px;
    }

    #astana-present-vid iframe {
        width: 100%;
        height: 300px;
    }

    .social-networks i {
        font-size: 150%;
    }

    #footer-background {
        height: auto;
    }

    #privacy-background p {
        font-size: 150%;
        margin: 0 50px 80px 50px;
    }

    #eula-term-background p {
        font-size: 150%;
        margin: 0 50px 80px 50px;
    }
}

