@font-face {
    font-family: "summer";
    src: url('../fonts/OILA-font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "summer", sans-serif;
}

.background-yellow {
    background-color:#f9c448;
    width: 100%;
    height: 625px;
    z-index: -1;
}

.background-purple {
    background-color:#420E59E8;
    width: 100%;
    height: 625px;
    z-index: -1;
}

.background-white {
    background-color: #f8f7f3;
    width: 100%;
    height: 625px;
    z-index: -1;
}

/* Navivigation bar */

#logo {
    float: left;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

#menu {
    background-color: #f9c448;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    box-shadow:;
}
#menu li {
    float: right;
    font-size: 110%;
    font-weight: 500;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    font-size: 260%;
    color: #f8f7f3;
}

a {
    text-decoration: none;
    color: #f8f7f3;
}

a:hover {
    color:#420E59E8 ;
}

/* First section (landing page) */

#hero-image {
    height: 480px; 
    width: 525px; 
    display: block;
    position: absolute;
    top: 75px;
    left: 310px;
    width: 50%;
}

#app-description {
    font-size: 250%;
    position: absolute;
    top: 90%;
    left: 450px;
}

/* 2nd section about reasons to download */

#description{
    height: 600px;
}

#description h2,h1,p {
    color: #f8f7f3;
}

#description h2,h1 {
    font-size: 280%;
}

#description p {
    font-size: 210%;
    letter-spacing: 2px;
}

#left-about {
    padding-top: 15px;
    margin: 125px auto;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 15px;
    margin: 125px auto;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 165px auto;
    padding: 0 5px 0 5px;
}

hr {
    border-top: 1px solid #f8f7f3;
    width: 100%;
    margin: 17px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#description-heading {
    text-align: center;
    font-size: 280%;
    position: relative;
    top: 30px;
}

/* 3rd section containing promo video */

#promo-vid {
    position: relative;
    right: 140px;
    top: 60px;
}

/* 4th section about testimonials */

#test-heading {
    text-align: center;
    font-size: 280%;
    color: #f8f7f3;
    position: relative;
    top: 30px;
}

#testimonial img {
    display: inline;
    margin: 85px;
}

#test-1 {
    height: 328px;
}