@font-face {
    font-family: "summer";
    src: url('../fonts/OILA-font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "summer", sans-serif;
}

#background-yellow {
    background-color: ;
}

/* Navivigation bar */

#logo {
    float: left;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

#menu {
    background-color: rgb(249, 196, 72);
    position: fixed;
    width: 100%;
    height: 75px;
}
#menu li {
    float: right;
    font-size: 110%;
    font-weight: 500;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    font-size: 260%;
    color: #f8f7f3;
}

a {
    text-decoration: none;
    color: #f8f7f3;
}

a:hover {
    color:#420E59E8 ;
}

/* First section (landing page) */

#background
